.theme-toggle {
  border-color: gray;
  color: #000000;
  padding: 4px 8px;
  font-size: 14px;
  border: 2px solid;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: transparent;
  margin-left: 10px;
  vertical-align: middle;
}

body.dark .theme-toggle {
  border-color: #555555;
  color: #ffffff;
}